.list{
    text-align: center;
    width: 250px;
    background-color: white;
    border-radius: 20px;
    padding: 20px;
    position: fixed;
    bottom: 30px;
    right: 30px;
}
.list h1{
    color: rgb(107, 107, 107);
    text-decoration: underline;
}
.items{
    display: flex;
    justify-content: space-between;
}