.NavBar{
  display: flex;
  justify-content: right;
  padding-right: 20px;
}

.Tilty {

}

.Tilty img {
  width: 70px;
  display: flex;
  padding-left: 20px;
  border-radius: 10px;
}

.center {
  display: flex;
  justify-content: center;
}

.displayImg {
  width: 400px;
  padding-top: 10px;
}
